
<ion-content>
  <div style="background-color:gold !important;height:100%;width:100%;text-align: center;vertical-align:middle;">

    <!-- <h1 style="padding-top:55%;font-family:Georgia, 'Times New Roman', Times, serif">
      <font style="color:orangered">Riya</font>
      <font style="color:whitesmoke">Foods</font>
    </h1> -->
    <!-- <img src="rlogo.png"> -->
    <!-- <link rel="icon" type="image/png" href="assets/icon/rlogo.png" style="height:55px;" /> -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <img src="assets/icon/rlogo.png" style="height:240px;"/>
  </div>
</ion-content>
