<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-transform: capitalize;">
      {{category}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-searchbar showCancelButton placeholder="Search {{category}}" (ionInput)="getItems($event)">
      </ion-searchbar>
    <ion-item *ngFor="let prod of products">
      <ion-label>
        <h2 style="font-size: 20px;">{{prod.product_name}}</h2>
        <h3 style="font-size: 15px;color:darkslategray">Category : {{prod.cat_name}}</h3>
        <p style="color:darkslategray;float:left;" col-6>Qty : &nbsp;
          <ion-icon name="remove-circle" (click)="onDec(prod)" style="color:orange;font-size:22px;cursor:pointer;"
            *ngIf="prod.qty > 1">
          </ion-icon>
          {{prod.qty}}
          <ion-icon name="add-circle" (click)="onInc(prod)" style="color:orange;font-size:22px;cursor:pointer;">
          </ion-icon>
        </p>
        <ion-button fill="outline" style="float:right;" color="dark" col-6 (click)="addtocart(prod)">
          <ion-icon style="color:orange;font-size:23px;" name="cart"></ion-icon>
          <font style="padding-left:10px;color:darkslategray">Add to Cart</font>
        </ion-button>
      </ion-label>
    </ion-item>

  </ion-list>

  <!--
    
    <ion-item>
      <ion-avatar slot="start">
        <img src="./avatar-han.png">
      </ion-avatar>
      <ion-label>
        <h2>Han</h2>
        <h3>Look, kid...</h3>
        <p>I've got enough on my plate as it is, and I...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="./avatar-rey.png">
      </ion-avatar>
      <ion-label>
        <h2>Rey</h2>
        <h3>I can handle myself</h3>
        <p>You will remove these restraints and leave...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="./avatar-luke.png">
      </ion-avatar>
      <ion-label>
        <h2>Luke</h2>
        <h3>Your thoughts betray you</h3>
        <p>I feel the good in you, the conflict...</p>
      </ion-label>
    </ion-item>
  -->
</ion-content>