<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="withLogout"></ion-menu-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll="true">
  <div class="splash-bg"></div>
  <div class="splace-info" padding>
    <ion-list>
      <ion-item>
        <b>Email :&nbsp;</b>
        <ion-input
          style="color:darkslategray"
          readonly
          placeholder="Blank"
          type="email"
          [(ngModel)]="email"
          [required]="true"
        ></ion-input>
      </ion-item>

      <ion-item>
        <b>Name :&nbsp;</b>
        <ion-input
          style="color:darkslategray"
          readonly
          placeholder="Blank"
          type="text"
          [(ngModel)]="name"
          [required]="true"
        ></ion-input>
      </ion-item>

      <ion-item>
        <b>Company :&nbsp;</b>
        <ion-input
          [clearInput]="true"
          readonly
          style="color:darkslategray"
          placeholder="Blank"
          type="text"
          [(ngModel)]="company"
          [required]="true"
        ></ion-input>
      </ion-item>

      <ion-item>
        <b>Mobile No.:&nbsp;</b>
        <ion-input
          clearOnEdit="true"
          readonly
          style="color:darkslategray"
          placeholder="Blank"
          type="text"
          [(ngModel)]="mobile"
          [required]="true"
        ></ion-input>
      </ion-item>
    </ion-list>

    <ion-button
      expand="block"
      fill="outline"
      color="warning"
      style="color:orange;height:38px;"
      (click)="presentModal('update')"
    >
      Update Profile&nbsp;&nbsp;
      <ion-icon name="create"></ion-icon>
    </ion-button>
    
    &nbsp;
    <ion-button
      expand="block"
      fill="outline"
      color="warning"
      style="color:orange;height:38px;"
      (click)="presentModal('change')"
    >
      Change Password&nbsp;&nbsp;
      <ion-icon name="key"></ion-icon>
    </ion-button>
  </div>
</ion-content>
